.modalBody {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100vw;
}

.divCardVideo {
    min-width: 920px;
}

@media (max-width:756px) {
    .divCardVideo {
        min-width: 100%;
        min-height: 100%;
    }
}