.modalBody {
    display: flex;
    justify-content: center;
    background-color: black;
    min-height: 100vh;
}

.divCardVideo {
    min-width: 900px;
}

@media (max-width:756px) {
    .divCardVideo {
        min-width: 100%;
        min-height: 100%;
    }
}