
.divBg {
    background: linear-gradient(180deg, black, rgba(10, 75, 160, 0.76), black);
}

.title {
    display: none;
}

@media (max-width: 756px) {
    .img {
        display: none;
    }

    .title {
        display: flex;
        justify-content: center;
        position: relative;
        top: 4rem;
        padding: 3rem 0;
        font-size: 8vw;
        font-weight: 700;
        font-style: oblique;
        transition: font-size 0.15s;
        background: -webkit-linear-gradient(90deg, #00265f, #8adeff, #8adeff);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .imgLogo {
        width: 10vw;
    }
}