/* Style The Dropdown Button */
.dropbtn,
.btn {
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    margin: 0px 10px;
}

.dropbtn {
    border: 2px solid rgba(255, 255, 255, 0.699);
}

.dropbtn:hover,
.btn:hover {
    cursor: pointer;
    border-radius: 10px;
    background-color: #12477998;
}

.btn:active {
    color: #8adeff;
}

.titleNav {
    font-size: 2vw;
    font-weight: 700;
    font-style: oblique;
    transition: font-size 0.15s;
    background: -webkit-linear-gradient(90deg, #00265f, #8adeff, #8adeff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.titleNav:hover {
    cursor: pointer;
    transform: scale(1.09);
    transition: transform 0.1s;
}

.titleNav:active {
    transform: scale(0.99);
    transition: transform 0.1s;
}

.imgLogo {
    width: 3vw;
}

@media (max-width: 767px) {
    
    .btn, .dropbtn {
        text-align: end;
        margin-right: 2rem;
    }

    .toggle {
        background-color: #83828286;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        margin-right: 2rem;
        margin-top: 0.2rem;
    }

    .navToggle {
        position: absolute;
        top: 3rem;
        right: 0;
        text-align: end;
    }
}