.nav {
    padding-bottom: 4px;
    flex-wrap: wrap;
}

.listNav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    font-size: 1.2rem;
}

/* Style The Dropdown Button */
.dropbtn, .btn {
    padding: 0px 20px;
    cursor: pointer;
}

.dropbtn:hover, .btn:hover {
    border-radius: 10px;
    background-color: #0b2b4998;
}

/* Dropdown Content (Hidden by Default) */
.dropdownContent {
    display: none;
    position: absolute;
    background-color: rgba(10, 10, 10);
    border-radius: 5px;
}

/* Links inside the dropdown */
.dropdownContent li {
    color: #f1f1f1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdownContent li {
    background-color: #0b2b4998;
    border-radius: 5px;
    cursor: pointer;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdownContent {
    display: block;
}

.iconDropDown {
    position: relative;
    right: -5px;
    top: 5px;
}