.caption {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4vw;
}

.captionTitle {
    font-size: 2.5vw;
}

.imgCarousel {
    box-shadow:
        inset 0em 0em 3em 3em rgba(0, 0, 0);
}

@media (max-width: 756px) {
    .carousel {
        display: none;
    }
}