.caption {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4vw;
    margin-bottom: rem;
    padding: 1.2rem;
    border-radius: 1.5rem;
}

.captionTitle {
    font-size: 2.5vw;
}

.itemCarousel {
    text-align: center;
}

.imgPath {
    width: 87%;
    -webkit-mask-image: radial-gradient(ellipse 75% 75% at 50%, rgba(0, 0, 0, 0.466) 0, transparent 65%);
  mask-image: radial-gradient(ellipse 75% 75% at 50%, rgba(0, 0, 0, 0.479) 0, transparent 65%);
}

@media (max-width: 756px) {
    .carousel {
        display: none;
    }
}