.moviesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 1rem;
    padding: 20px;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 560px) {
    .moviesGrid {
        grid-template-columns: 100%;
    }
}