
.detailsContainer {
    position: relative;
    display: flex;
    gap: 1rem;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    height: 100vh;
    padding: 6rem;
    font-family: 'Roboto', sans-serif;
}

.col {
    min-width: 420px;
    margin: 5px;
    max-height: 620px;
}

.movieImage {
    border-radius: 5px;
}

.title {
    margin-top: 0;
}

.strongP {
    text-shadow: 0px 0px 5px black;
}
